<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFamilyControlsUsageDescription</key>
	<string>Esta app necesita acceso a Family Controls para el control parental</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktok</string>
		<string>instagram</string>
		<string>fb</string>
		<string>whatsapp</string>
		<string>snapchat</string>
		<string>twitter</string>
		<string>youtube</string>
		<string>nflx</string>
		<string>spotify</string>
		<string>disneyplus</string>
		<string>roblox</string>
		<string>minecraft</string>
		<string>amongus</string>
	</array>
</dict>
</plist>
